.wrapper {
  
width:100%;
}
.hrrule{
  color:#d9dbdc!important;
  position:relative;
  top:-11px;
}
.content {
  float: left;
  width: 100%;
  /*background-color: #CCF;*/
}
.img{
  float:left;
  padding-bottom:10px;
  padding-right:10px;
  max-height:100px;
  max-width:100px;
}
.sidebar {
  float: right;
  width: 200px;
  margin-right: -200px;
  /*background-color: #FFA;*/
}
.cleared {
  clear: both;
}
.name
{
  font-size:18px;
  font-weight: bold;

  color:black;
}
.designation
{
  font-size:14px;
  font-weight: 500;

  color:gray!important;
}
.location
{
   font-size:12px;
  font-weight: 500;

  color:gray;
}
.header
{color:red ; font-weight:bold; font-size:16px;margin-top: 5px}
.contents{ color:gray;font-size:14px;margin-bottom: 10px;}

.userinfo{
  float:left;
  padding-top:10px;
}
.AddToContacts{
     
    border: 2px;
    border-radius: 7px;
    border: 2px solid #003f72;    
    height: 63px;    
    margin: 0px 20px 10px 20px;    
    padding:10px;
}

.AddToContacts div{
vertical-align: middle;


}
.AddToContactsimg{
display: table-cell;
}
.AddToContactstext{
padding-left: 10px;  
    color: #003f72;
    display: table-cell;
}

.AddToContactsdiv{
display: table;
margin: 0 auto;
}

.detailheader{
padding-top:15px;
    color: #9fa1a4;
    margin-left:20px;
    padding-bottom: 15px;
}

.details{
padding-left:20px;
display:table;
width:100%;
}

.details div{
vertical-align: middle;
display: table-cell;
}

.leftdetails{
display: table-cell; 

}

.rightimg{
       
    padding-right:20px;
    float: right;
    
}

.detailsubheader{
color:#e11b22;
}

.actualdetail{

}