.aonmenu {
  /*background-image: url('/images/nav_profile.png');*/
  border: 2px solid black; 
  height:50px;
  background-color: red; 
}
.headerred {
    color: #fff!important;
    background-color: #f44336!important;
    text-align: left;
        padding: 0.01em 16px;
    
}

.recentppl {
     
    text-align: center!important;
   
}
.clearimg{
  float: right;
 
}

.searchintro{
 
  text-align: center;
  margin-top:60px;

}

.searchintrotext{
  color: #003f72;
  font-family: sans-serif;
  font-weight: bold;

}

.recentppldetails
{
  
  font-weight: bold;
}

.searchHeader{
  background-color: #DA3B19; /*DA3B19*/  
  height:64px;
  width:100%;
display: table;
 position: absolute;
    top: 0;
}

.searchBox{
background-color: #DA3B19;
font-family:sans-serif;
color:white;
width:100%;
border:0;
}

.closeimg{
  height:12px;
  
  float:right;

}

.backarrow > i{
  color:white;
 
}

.searchcount{
       margin-left: 55px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  font-family:sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.headcomp{
width: 5%;
    padding-left: 20px;
    max-width: 62px;
    min-width: 60px;
}

.headcomp1{

}

.headcomp2{
width: 5%;
    padding-right: 20px;
    max-width: 62px;
    min-width: 60px;
}

.searchHeader > div{
display: table-cell;
vertical-align: middle;
}

.headcomp1 input:focus {
    outline: none!important;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

.parentdiv{
width:100%;
display:table;
}

.parentdiv div{
display:table-cell;


}

.recentdiv{
padding-left:50px;

}
.cleardiv{

width:5%;
padding-right: 36px;
float:right;
}

